/* parrafos principales */
.descripcion_cine{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 1rem;
    border-radius: 15px;
    background-color: #33a6d451;
    box-shadow: 0px 0px 5px 10px rgba(51, 51, 51, 0.132);
    padding: 4rem;
}
.informacionPag{
    display: flex;
}
.texto{
    color: rgb(255, 255, 255);
    display: inline-block;
    width: 600px;
    height: auto;
    text-align: justify;
}
.texto::first-letter{
  font-size: 200%;
  font-family: 'Lobster', cursive;
}
.imgCine1{
    display: inline;
    width: 510px;
    height: auto;
}
.imgCine2{
    display: inline;
    width: 500px;
    height: auto;
}

.mi-linea-horizontal {
  border: none;
  border-top: 2px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}


/* las listas de valores, logros*/
.valores_logros{
  margin-top: 20px;
  margin-bottom: 40px;
}
.valores{
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.274);
}
.valores ul{
  text-align: left;
}
.logros{
  padding: 20px;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.274);
}
.logros ul{
  text-align: left;
}


/* mision */
.mision{
  color: white;
}
.mision h3{
  text-align: center;
}
.mision p::first-letter{
  font-size: 200%;
  font-family: 'Lobster', cursive;
}

/* vision */
.vision{
  color: white;
  margin-bottom: 2rem;
}
.vision h3{
  text-align: center;
}
.vision p::first-letter{
  font-size: 200%;
  font-family: 'Lobster', cursive;
}



/* Para dispositivos móviles */
@media (max-width: 600px) {
    .imgCine1, .imgCine2 {
      display: block;
      margin: 0 auto;
      clear: both;
    }
  }
  
  /* Para tabletas */
  @media (min-width: 600px) and (max-width: 1024px) {
    .texto {
      width: 100%;
      float: none;
      margin: 0 auto;
    }
    .imgCine1, .imgCine2 {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  
  /* Para dispositivos de escritorio */
  @media (min-width: 1025px) {
    .texto {
      width: 50%;
      float: left;
      margin-right: 2%;
    }
    .imgCine1, .imgCine2 {
      width: 40%;
      float: right;
    }
  }
  
  